.accordian {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: inherit;
  transition: all ease 200ms;
  border-color: red;
}
span {
  font-size: inherit;
  margin-bottom: 40px;
}
.data {
  flex: 1;
  font-size: 18px;
}
.content {
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  gap: 50px;
  margin-top: 40px;
}
.left {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin-top: 20;
}
