.navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60px;
    width: 100%;
    justify-content: space-between  ;
}
.title{
    color: white;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
}
.right{
    color: aliceblue;
    display:flex;
  display: flex;
  text-align: right;
  justify-content: space-around;
  cursor: pointer;
  gap: 15px;
  margin-right: 20px;
  

}
